<div class="wrapper">
  <div class="container" [ngClass]="{ 'right-panel-active': isSignUpMode }">
    <div class="sign-up-container">
      <form autocomplete="off">
        <h1 class="heading" style="margin-bottom: 40px;">Create Account</h1>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email" autocomplete="off">
        <input type="password" placeholder="Password" autocomplete="off">
        <input type="password" placeholder="Re-Type Password" autocomplete="off">
        <button class="form_btn">Sign Up</button>
      </form>
    </div>
    <div class="sign-in-container">
      <form autocomplete="off">
        <h1 class="heading" style="margin-bottom: 40px;">Sign In</h1>
        <input type="email" placeholder="Email" autocomplete="off">
        <input type="password" placeholder="Password" autocomplete="off">
        <button class="form_btn">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay-left">
        <h1>Welcome Back</h1>
        <p>To keep connected with us please login with your personal information</p>
        <button id="signIn" class="oform_btn" (click)="toggleMode()">Sign In</button>
      </div>
      <div class="overlay-right">
        <h1>Hello, Friend</h1>
        <p>Enter your personal information and start connect with us</p>
        <button id="signUp" class="form_btn" (click)="toggleMode()">Sign Up</button>
      </div>
    </div>
  </div>
</div>